@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import 'overlayscrollbars/styles/overlayscrollbars.css';

@font-face {
  font-family: 'PingFangShangShangQianTi';
  src: url('$lib/assets/fonts/PingFangShangShangQianTi-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-cf: var(--color-orange-500);

  --color-bg-primary: var(--color-zinc-100);
  --color-bg-secondary: var(--color-zinc-50);
  --color-bg-primary-hover: var(--color-zinc-200);
  --color-bg-secondary-hover: var(--color-zinc-100);
  --color-border-primary: var(--color-zinc-200);
  --color-border-secondary: var(--color-zinc-100);

  --color-fg: var(--color-white);

  --color-text-primary: var(--color-zinc-700);
  --color-text-primary-hover: var(--color-zinc-800);
  --color-text-disabled: var(--color-zinc-400);
  --color-error: var(--color-rose-500);

}

html,
body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: 'Inter', system-ui, sans-serif;
}

/* OverlayScrollbars 自定义样式 */
.os-scrollbar {
  --os-size: 6px;
  --os-padding-perpendicular: 2px;
  --os-padding-start: 2px;
  --os-padding-end: 2px;
}

.os-scrollbar-track {
  background: var(--color-zinc-100);
}

.os-scrollbar-thumb {
  background: var(--color-zinc-300);
  border-radius: 3px;
}

.os-scrollbar-thumb:hover {
  background: var(--color-zinc-400);
}

