@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --color-cf: var(--color-orange-500);

  --color-bg-primary: var(--color-zinc-100);
  --color-bg-secondary: var(--color-zinc-50);
  --color-bg-primary-hover: var(--color-zinc-200);
  --color-bg-secondary-hover: var(--color-zinc-100);
  --color-border-primary: var(--color-zinc-200);
  --color-border-secondary: var(--color-zinc-100);

  --color-fg: var(--color-white);

  --color-text-primary: var(--color-zinc-700);
  --color-text-primary-hover: var(--color-zinc-800);
  --color-text-disabled: var(--color-zinc-400);

}

html,
body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: 'Inter', system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--color-zinc-100);
}
::-webkit-scrollbar-thumb {
  background: var(--color-zinc-300);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-zinc-400);
}
